:root{
    --webstudio-color: #2196f3;
    --text-font-family: "Roboto", sans-serif;
    --link-active-color: #2196F3;
    --heading-color: #ffffff;
    --title-nav-color: #212121;
    --text-contacts-color: #757575;
    --logo-font-family: 'Raleway';
    
}
* {
    box-sizing: border-box;
  }

h1,h2,h3 {
    font-family: var(--text-font-family);
}
a {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.hero-heading .service-button {
    color:var(--heading-color)
}

.no-scroll {
  overflow: hidden;
}


ul {
    list-style-type: none;
}


/*  Mobile Design */

.header {
  align-items: center;
  border-bottom: 1px solid #ececec;
  display: flex;
  height: 60px;
  position: relative;
  width: 100%;
}

.container-nav {
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.header-text {
  display: none;
}

.webstudio{
  margin-left: 15px;
}

.logo {
    text-decoration: none;
    font-family: var(--logo-font-family);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.9075em;
    letter-spacing: 0.03em;
    color: #000;
  }
  .web {
    color:#2196F3;;
  }

  .js-menu-container {
    display: none;
  }
  
  .js-menu-container.is-open {
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16),
      0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    padding: 48px 40px;
    margin-right: -17px;
    position: fixed;
    right: 0;
    top: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
  }
  
  .js-close-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-button {
    background-color: transparent;
    border: none;
    color:  #212121;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .drawer-nav-container {
    display: flex;
    flex-grow: 2;
  }
  .drawer-nav {
    color: #212121;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: 500;
    gap: 32px;
    letter-spacing: 0.8px;
    padding: 0;
    margin: 0;
  }
  .drawer-nav-page {
    color:  #212121;
    text-decoration-line: none;
  }
  
  .drawer-contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    padding: 0;
  }
  .drawer-phone {
    color: var(--webstudio-color);
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.68px;
    text-decoration-line: none;
  }
  
  .drawer-phone:hover {
    color: #188ce8;
  }
  .drawer-email {
    color: #757575;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-decoration-line: none;
  }
  
  .drawer-email:hover {
    color:var(--webstudio-color);
  }
  .drawer-social-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 64px 0 0 0;
    padding: 0;
  }
  .drawer-social-link {
    color: var(--webstudio-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
    line-height: 1.22;
    padding-right: 10px;
    text-decoration-line: none;
    text-decoration-color: var(--webstudio-color);
  }
  .drawer-social-link:hover {
    color: #757575;
  }
  
  .vertical-line {
    background: rgba(33, 33, 33, 0.20);
    margin-right: 10px;
  }
  .menu-button:hover,
  .menu-button:focus {
    fill: var(--webstudio-color);
  }
  
  .drawer-nav-page:hover,
  .drawer-nav-page:focus {
    color: var(--webstudio-color);
  }
  
  .js-close-menu:hover,
  .js-close-menu:focus {
    color: var(--webstudio-color);
  }


  .navigation-link.current-page {
    display: inline-block;
    position: relative;
    color: var(--webstudio-color);
  }

.current-page::after {
  background-color: var(--webstudio-color);
  border-radius: 2px;
  bottom: -32px;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.active:hover,
.active:focus {
  color: var(--webstudio-color);
}
.navigation-links {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  position: relative;
}
.navigation-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-align: left;
  text-decoration-line: none;
}
.header-contacts {
  display: none;
}
.mail-header-group .phone-header-group{
  color:  #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-align: left;
  text-decoration-line: none;
}



.hero {
  align-items: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mobile/hero-img.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 100%;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url("../images/hero-img-m-2x.jpg");
    background-image: -o-linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-img-m-2x.jpg");
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-img-m-2x.jpg");
  }
}
.hero-heading {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1.56px;
  line-height: 1.61;
  text-align: center;
  text-transform: uppercase;
}


  


.request-our-service-button {
    background: #2196f3;
    border-color:  #2196f3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    letter-spacing: 0.96px;
    line-height: 1.875;
    text-align: center;
    width: 200px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.request-our-service-button:hover,
.request-our-service-button:focus {
  background-color: #fff;
  color: #2196f3;
  }

  .modal {
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100vw;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    height: 581px;
    margin: 0 auto;
    padding: 16px;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    width: 528px;
  }
  
  .is-hidden {
    visibility: hidden;
    transform: scale(1.05);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon-close {
    color: #000;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon-close:hover,
  .icon-close:focus {
    color: #2196f3;
  }
.section-description{
    display: none;
 
}
.icon-area {
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  height: 120px;
  justify-content: center;
  width: 100%;
}

.advertising-title {
  align-self: center;
  color: #212121;
font-size: 14px;
font-size: 14px;
font-style: normal;
  font-size: 14px;
font-style: normal;
font-weight: 700;
font-weight: 700;
line-height: normal;
  font-weight: 700;
line-height: normal;
  letter-spacing: 0.42px;
  line-height: normal;
  margin: 30px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 270px;
}

.advertising-text {
  color: #757575;
  font-size: 14px;
  height: 50px;
  letter-spacing: 0.42px;
  line-height: 24px;
  margin: 0;
  width: 100%;
}

.advertising-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
}

.title-images {
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin: 60px 0 30px 0;
  text-align: center;
}

.our-team {
  background-color: #f5f4fa;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.photo-with-caption {
  align-items: center;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photo-team {
  height: auto;
  width: 450px;
}

.name {
  color:#212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin: 30px 0 10px 0;
  text-align: center;
}

.job {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin: 0 0 30px 0;
  text-align: center;
}

.icons-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0 0 30px 0;
}

.icon {
  align-items: center;
  background-color: #fff;
  border-radius: 22px;
  color:  #afb1b8;
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus {
  background-color: var(--webstudio-color);
  color:#fff;
  outline: none;
}


.regular-customers-icons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  max-width: 480px;
  padding: 0;
}

.regular-customers-icon-area {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  cursor: pointer;
  display: flex;
  height: 92px;
  justify-content: center;
  flex: 0 0 calc(50% - 30px);
  max-width: 210px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-icon-area:hover,
.regular-customers-icon-area:focus {
  color: var(--webstudio-color);
  border-color: var(--webstudio-color);
}

.regular-customers-icon {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-icon-area:hover .regular-customers-icon,
.regular-customers-icon-area:focus .regular-customers-icon {
  color: var(--webstudio-color);
}

.footer {
  background-color: #2f303a;
  width: 100%;
}

.footer-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0 60px 0;
  margin: 0 auto;
  justify-content: center;
}

.footer-adress-contacts {
  text-align: center;
  margin-bottom: 60px;
}

.logo-title {
  margin: 0;
}

.logo-footer span {
  color: var(--webstudio-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer {
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration-line: none;
}

.logo-footer:hover span,
.logo-footer:focus span {
  color: #fff;
}

.address {
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.14;
  padding-bottom: 12px;
  padding-top: 28px;
  /* width: 207px; */
}

.address:hover,
.address:focus {
  color: var(--webstudio-color);
}

.contacts-footer {
  margin: 0;
  padding: 0;
}

.contact-footer {
  color: #ffffff99;
  font-family:Roboto, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 1.8;
  text-decoration-line: none;
  padding-bottom: 12px;
}

.find-us-on-text {
  text-align: center;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0;
}

.footer-icons-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  padding: 0;
}

.icon-footer {
  align-items: center;
  display: inline-block;
  justify-content: center;
}

.icon-footer {
  background-color: #ffffff1a;
  border-radius: 22px;
  color: #fff;
  display: flex;
  height: 44px;
  width: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer:hover,
.icon-footer:focus {
  background-color: var(--webstudio-color);
  outline: none;
}

.subscribe {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  width: 100%;
}

.subscribe-label {
  color: #fff;
  font-family: Roboto, Arial, sans-serif;;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-area {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.subscribe-input {
  background: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  height: 50px;
  outline: none;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 20px 0 20px 0;
  max-width: 450px;
  width: 100%;
}

.subscribe-input:hover,
.subscribe-input:focus {
  border-color: var(--webstudio-color);
}

.subscribe-btn {
  background-color: var(--webstudio-color);
  border-color: var(--webstudio-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  letter-spacing: 0.96px;
  line-height: 30px;
  padding: 0 0 0 43px;
  position: relative;
  text-align: left;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
}

.subscribe-btn svg {
  position: absolute;
  right: 28px;
  top: 13px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #188ce8;
  border-color: #188ce8;
}
















.buttons-portofolio{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 94px;
    margin-bottom: 50px;
}
.button-portofolio-menu{
    border-radius: 4px;
background: #F5F4FA;
}

.button-portofolio-menu:hover,
.button-portofolio-menu:focus {
  background-color: #2196F3;
  color: #FFF;
}
.portofolio-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.portofolio-section{
    margin-bottom: 94px;
}
.images-portoflio{
    display: flex;
  
}
.images-portoflio{
    width: 370px;
height: 404px;
flex-shrink: 0;
border: 1px solid #EEE;
background: #FFF;

}
.firts-line,
.second-line,
.third-line{
    display: flex;
    justify-content: center;
    gap: 30px;
}


.portofolio-images-text{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  margin: 20px 24px;

}
.animation {
  position: relative;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #2196f3;
  width: 100%;
  transition: 0.5s ease;
}
.overlay-text {
  width: 322px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
}
.animation:hover .overlay {
  height: 100%;
}




.images-portoflio:hover,
.images-portoflio:focus {
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}


.portofolio-images-title{
    color: #212121;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;
}
.portofolio-images-description{
    color: #757575;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
}





.subscribe-area{
    display: flex;
    align-items: baseline;
}
.subscribe-label {
    color: #fff;
    font-family: var(--webstudio-font-family);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  
  .subscribe-input {
    background: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    height: 50px;
    margin-right: 12px;
    margin-top: 20px;
    outline: none;
    padding-left: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 358px;
  }
  
  .subscribe-input:hover,
  .subscribe-input:focus {
    border-color: var(--webstudio-color);
  }
  
  .subscribe-btn {
    background-color: #2196f3;
    border-color: #2196f3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    cursor: pointer;
    font-family:  Roboto, Arial, sans-serif;;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    letter-spacing: 0.96px;
    line-height: 30px;
    padding: 0 0 0 43px;
    position: relative;
    text-align: left;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 200px;
  }
  
  .subscribe-btn svg {
    position: absolute;
    right: 28px;
    top: 13px;
  }
  
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: #188ce8;
    border-color: #188ce8;
  }

  .modal {
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100vw;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    height: 581px;
    height: auto;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 528px;
  }
  
  .is-hidden {
    pointer-events: none;
    visibility: hidden;
    transform: scale(1.05);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon-close {
    color: #000;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon-close:hover,
  .icon-close:focus {
    color: var(--webstudio-color);
  }
  
  
  
  .request_our_service_form {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    margin: 0 auto;
  }
  
  .intro-text {
    color: #212121;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
    text-align: center;
  }
  
  .label {
    margin: 0;
  }
  
  .input-area {
    margin-bottom: 10px;
    position: relative;
  }
  
  .person-icon,
  .phone-icon,
  .envelope-icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
  }
  
  .input-box:hover,
  .input-box:focus,
  .comments-box:hover,
  .comments-box:focus {
    border-color: var(--webstudio-color);
    outline: none;
  }
  
  .input-box:focus + .input-icon,
  .input-box:hover + .input-icon {
    fill: var(--webstudio-color);
  }
  
  .input-box {
    height: 40px;
    padding-left: 42px;
  }
  
  .comments-box {
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;
    resize: none;
  }
  
  .input-box,
  .comments-box {
    border-radius: 4px;
    border: 1px solid #21212133;
    font-size: 14px;
    letter-spacing: 0.14px;
    margin-top: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
  }
  
  .label {
    color:  #757575;
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.12px;
  }
  
  .input-area,
  .comments-area {
    width: 100%;
  }
  
  .checkbox-area {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .checkbox {
    appearance: none;
    pointer-events: none;
  }
  
  .icon-check {
    border-radius: 2px;
    border: 2px solid #212121;
    fill: none;
    margin-right: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .checkbox:focus + .icon-check {
    outline: 1px solid #212121;
  }
  
  .checkbox:checked + .icon-check {
   
    background-image: url("../icons/icon-check.svg")
    
  }
  
  .agree-text {
    color: #757575;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.42px;
    line-height: 1.71;
  }
  
  .terms-link {
    color: var(--webstudio-color);
  }
  
  .send-button {
    align-items: center;
    background-color: var(--webstudio-color);
    border-color: var(--webstudio-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    letter-spacing: 0.96px;
    line-height: 1.875;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 200px;
  }
  
  .send-button:hover,
  .send-button:focus {
    background-color: #188ce8;
  }
  




  